# LISTS [ ]

Lists are mutable ie the contents can be changed <br>
Lists allow duplicates <br>
Lists are ordered

In [1]:
coffee = ['arabica', 'robusta', 'morgus']

In [2]:
# check the data type
type(coffee)

list

index- position of an element in a given list

In [3]:
coffee[0]

'arabica'

In [4]:
# check if an element exists in a list
"Morgus" in coffee

False

In [5]:
"robusta" in coffee

True

In [6]:
# traverse through a list
for cof in coffee:
    print(cof)

arabica
robusta
morgus

In [11]:
numbers = [1,2,3,9,5,6]
for num in numbers:
    print(num+10)

11
12
13
19
15
16

In [8]:
# when interest in the number of elements in the list not the elements themselves
for marks in range(len(numbers)):
    marks = marks + 10
    print(marks)

10
11
12
13
14
15

In [12]:
empty = []
for em in empty:
    print(em)

In [14]:
# concatenation of lists
num1=[1,2,3,4]
num2=[5,4,3,1]
num3 = num1 + num2
print(num3)

[1, 2, 3, 4, 5, 4, 3, 1]

In [17]:
num4 = [1,2]
num5 = num4*7
print(num5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [19]:
num6=[3,5]
for num in num6:
    num*2

3
5